* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

@font-face {
  font-family: "BIG JOHN";
  src: local("BIG JOHN"), url("BIG JOHN.otf");
}

@font-face {
  font-family: "ZonaPro ExtraLight";
  src: local("ZonaPro-ExtraLight"), url("ZonaPro-ExtraLight.otf");
}

@font-face {
  font-family: "ZonaPro Bold";
  src: local("ZonaPro-Bold"), url("ZonaPro-Bold.otf");
}

@font-face {
  font-family: "Slim Joe";
  src: local("Slim Joe"), url("Slim Joe.otf");
}

.wrapper {
  display: grid;
  height: 150vh;
  width: 100vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav" "bnr" "tag" "abt" "prj" "con" "ftr";
}

nav {
  grid-area: nav;
  position: fixed;
  float: top;
  background-color: rgba(59, 59, 59, 0.863);
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.nav {
  font-family: "ZonaPro ExtraLight";
  color: #C4B19E;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

a {
  cursor: pointer;
}

header {
  grid-area: hdr;
  width: 100vw;
  background-image: url("https://i.imgur.com/FRtjuUF.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerClip {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.banner {
  grid-area: bnr;
  font-family: "Slim Joe";
}

.taglineClip {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.tagline {
  grid-area: tag;
  font-family: "ZonaPro ExtraLight";
}

[class*="cube"] {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cube {
  transform-style: preserve-3d;
  animation: ani 10s infinite linear;
}

.cube__face {
  width: 9em;
  height: 9em;
  box-shadow: inset rgba(212, 188, 164, 0.671) 0 0 3px;
  --i: 0;
  transform: rotate3d(var(--i), calc(1 - var(--i)), 0, calc(var(--m, 0)*90deg)) translateZ(4.5em);
}

.cube__face:nth-child(n+5) {
  --i: 1;
}

.cube__face:nth-child(2) {
  --m: 1;
}

.cube__face:nth-child(3) {
  --m: 2;
}

.cube__face:nth-child(4) {
  --m: 3;
}

.cube__face:nth-child(5) {
  --m: 1;
}

@keyframes ani {
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.aboutContainer {
  grid-area: abt;
}

.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "inf" "img";
}

.aboutInfoContainer {
  color: white;
  background-color: black;
  grid-area: inf;
}

.portrait {
  width: 50vw;
  float: left;
}

.portraitContainer {
  grid-area: img;
  color: white;
  background-color: black;
}

.projectsContainer {
  grid-area: prj;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-8AHqvKC1ZjclpsbX19S95GN689gknCaYwqU-MU-qynVD4yoy");
  background-size: cover;
  background-repeat: no-repeat;
}

.contactContainer {
  grid-area: con;
  display: grid;
  grid-template-areas: "cth cth" "ctb ctd" "mct mct";
  background-image: url("https://i.imgur.com/UYm1iis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.myContactInfoContainer {
  grid-area: mct;
  color: rgb(187, 162, 138);
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: "ZonaPro ExtraLight";
}

.contactHeaderContainer {
  grid-area: cth;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contactHeader {
  font-family: "Slim Joe";
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

.contactBox {
  grid-area: ctb;
  width: 60vw;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.contactHeadingContainer {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contactHeading {
  font-family: "Slim Joe";
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.contactSubheadContainer {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 15px;
}

.contactSubhead {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "ZonaPro ExtraLight";
}

input,
select,
textarea {
  font-family: "ZonaPro ExtraLight";
  margin: 5px;
  padding: 5px;
}

.formInfo,
.submitMessage {
  color: rgb(187, 162, 138);
  font-family: "ZonaPro ExtraLight";
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.submitMessage {
  cursor: pointer;
}

.contactDetails {
  grid-area: ctd;
  width: 30vw;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contactDetailsHeaderContainer {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contactDetailsHeader {
  font-family: "ZonaPro ExtraLight";
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.contactDetailsSubheadContainer {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0xPgM5l/elegant-background-wedding-loop-animation_x1ej4ywvi__F0000.png");
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 2vh;
  padding-bottom: 15px;
}

.contactDetailsSubhead {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "ZonaPro ExtraLight";
}

.linkedinIcon {
  width: 7vw;
}

.githubIcon {
  width: 7vw;
}

.myContactInfoContainer {
  padding: 20px;
}

.contactPhone,
.contactEmail {
  color: rgb(187, 162, 138);
  font-family: "ZonaPro ExtraLight";
  padding: 20px;
}

.submitMessage {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  color: black;
  width: 100%;
  color: rgb(187, 162, 138);
  border: 1px solid rgb(187, 162, 138);
  ;
  border-width: 5px;
  border-style: outset;
  background: none;
  padding: 10px;
  /* font-family: "Slim Joe"; */
  font-family: "ZonaPro Bold";
  font-weight: 900px;
}

.submitMessage:hover {
  background-color: rgb(187, 162, 138);
  color: black;
}

footer {
  grid-area: ftr;
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 1vh;
}

/* ------------------------------------------------------------------------------ */

/* Mobile */

@media only screen and (max-width: 768px) {
  nav {
    height: 5vh;
    background-color: rgba(54, 54, 54, 0.801);
  }
  .nav {
    font-size: 2.5vw;
    margin-left: -5vw;
  }
  header {
    height: 50vw;
    padding-top: 3.5vw;
  }
  .banner {
    margin-top: 4vh;
    font-size: 11vw;
  }
  .tagline {
    font-size: 5vw;
  }
  .cube {
    font-size: 2.3vw;
  }
  .contact {
    grid-area: con;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .contactHeadingContainer {
    font-size: 5vw;
  }
  .contactHeader {
    font-size: 6vw;
  }
  .contactDetails {
    grid-area: ctd;
    width: 30vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
  }
  .contactDetailsHeader,
  .contactSubhead {
    font-size: 3.3vw;
  }
  .contactPhone,
  .contactEmail {
    font-size: 3vw;
  }
  .contactPhoneSymbol {
    font-size: 5vw;
  }
  .contactEmailSymbol {
    font-size: 7.5vw;
  }
  input,
  select,
  textarea {
    font-size: 2vw;
    width: 100%;
  }
  #message {
    height: 15vh;
    width: 100%;
  }
  button {
    font-size: 2.3vw;
  }
  footer {
    font-size: 2.5vw;
  }
}