* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: "hdr" "cnt" "ftr"
}

.studyWrapper {
    height: 70%;
    grid-area: cnt;
}

.wrapperQA {
    padding: 20px;
}

.containerQ {
    background: rgb(105, 158, 219);
    padding: 20px;
    display: flex;
    text-align: center;
}

.answerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.answerInput {
    width: 90%;
}

.checkButt {
    cursor: pointer;
}

.checkButt:active {
background-color: green;
}
