body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 8vh 18vw 32vw 10vw;
  grid-gap: 1px;
}

header,
footer,
nav {
  grid-column: 1 / span 5;
}

nav {
  align-items: center;
  background-color: rgb(224, 70, 37);
  color: whitesmoke;
  font-family: "New York Nineteen Seventy Fonts", Chalet;
}

header {
  padding: 10px;
  background-image: url("https://i.imgur.com/cSEiTOG.png");
  background-size: cover;
  background-position: center;
}

main {
  grid-column: 1 / span 3;
}

img {
  height: 500px;
  width: auto;
}

aside {
  grid-column: span 2;
  padding-left: 50px;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1px 0;
}

nav,
header,
main,
aside,
footer {
  display: flex;
  justify-content: center;
}

header,
footer {
  height: 10vw;
  ;
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: 1 / span 5;
  }
}