body {
    font-family: sans-serif;
}

input, button, ul{
    font-size: 20px;
    margin-top: 15px;
}

ul {
    list-style: none;
    text-indent: 0;
    -webkit-padding-start: 0px;
}

.titleEl {
    font-size: 20px;
    vertical-align: middle;
}


label {
    vertical-align: middle;
    
}

.checkbox {
margin-right: 10px;
}

.deleteButt {
    background-color: firebrick;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 25px;
}