body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

.headerContainer {
    height: 200px;
    background-image: url("https://i.imgur.com/uZQ0m0V.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}
h1 {
    color: whitesmoke;
    font-weight: 900px;
    font-size: 45px;
}

.listContainer {
}

ul {
    font-size: 20px;
}

.title {
    font-size: 19px;
}

.addButt {
    cursor: pointer; 
    margin-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.addButt:hover {
    background-color: rgb(204, 204, 204);
}

ul {
    list-style: none;
    text-indent: 0;
}

li {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox {
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox:hover {
    border: 2px rgb(177, 217, 243);
}

.titleEl {
    display: flex;
    font-size: 20px;
    
}

label {
    vertical-align: middle;
}

.deleteButt {
    background-color: firebrick;
    color: white;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    right: 0;
    position: absolute;
}

.deleteButt:hover {
    background-color: rgb(139, 27, 27);
}