* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

div {
    margin: auto;
    border: 8px solid white;
}

.ad {
    display: inline-block;
    height: 165px;
    width: 19%;
    text-align: center;
}

.adTitle {
    font-weight: bold;
    font-size: 18px;
}

.adImg {
    height: 150px;
    width: auto;
}

.title {
    height: 200px;
    background-image: url("https://i.imgur.com/PLjNq4p.jpg");
    background-size: 1000px;
    background-position: center;
}

.headers {
    height: auto;
    display: inline-block;
    background-image: url("https://i.imgur.com/CwBM6zU.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    width: 100%;
}

h1 {
    margin-left: 20px;
    font-size: 75px;
    line-height: .9;
    text-align: center;
}

h2 {
    font-size: 35px;
    line-break: normal;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

h4 {
    font-style: italic;
    font-weight: 200;
}

img {
    width: 100%;
}

.content {
    height: auto;
    display: inline-block;
    background-color: white;
    margin-top: 50px;
    width: 33%;
    float: left;
}

.paragraphs {
    font-size: 18px;
    text-indent: 50px;
    margin-bottom: 40px;
}

.captions {
    font-style: italic;
    font-size: 18px;
    text-align: left;
    font-weight: bold
}