* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: white;padding: 20px;
}

.red {
    background-color: rgb(97, 37, 37);
}
.blue {
    background-color: rgb(41, 52, 114);
}
.orange {
    background-color: rgb(160, 91, 27);
}
.green {
    background-color: rgb(13, 61, 13);
}
.purple {
    background-color: rgb(75, 19, 75);
}
.teal {
    background-color: rgb(5, 75, 75);
}
.grey {
    background-color: rgb(73, 72, 72);
}
.pink {
    background-color: rgb(175, 45, 88);
}
.indigo {
    background-color: rgb(42, 0, 90);
}
.black {
    background-color: black;
}
